<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<nav class="header-content">
    <div class="header-photo">
        <img src="assets/img/head.jpg" alt="Name: Rui Tang">
    </div>
    <div class="header-titles">
        <h2>Rui Tang</h2>
        <h4>Data Scientist</h4>
        <h4>Unity3D Developer</h4>
    </div>
    <div class="social-media-buttons">
        <a mat-button href="https://www.linkedin.com/in/goagain/">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a mat-button href="https://github.com/goagain/">
            <i class="fab fa-github"></i>
        </a>
    </div>
</nav>