<mat-sidenav-container class="tp-container">
    <mat-sidenav mode="side" opened>
        <mat-toolbar-row>
            <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
            <a mat-button href="/#home" class="nav-anim tp-section">
                <span class="lnr lnr-home"></span>
                <span class="link-text">Home</span>
            </a>
            <a mat-button href="/about-me" class="nav-anim tp-section">
                <span class="menu-icon lnr lnr-user"></span>
                <span class="link-text">About Me</span>
            </a>
            <a mat-button href="/#resume" class="nav-anim tp-section">
                <span class="menu-icon lnr lnr-graduation-hat"></span>
                <span class="link-text">Resume</span>
            </a>
            <a mat-button href="/portfolio" class="nav-anim tp-section">
                <span class="menu-icon lnr lnr-briefcase"></span>
                <span class="link-text">Portfolio</span>
            </a>

            <a mat-button href="/#blog" class="nav-anim tp-section">
                <span class="menu-icon lnr lnr-book"></span>
                <span class="link-text">Blog</span>
            </a>
            <a mat-button href="/#contact" class="nav-anim tp-section">
                <span class="menu-icon lnr lnr-envelope"></span>
                <span class="link-text">Contact</span>
            </a>
        </mat-toolbar-row>
    </mat-sidenav>
</mat-sidenav-container>